= form_with(model: blog, local: true) do |form|
  - if blog.errors.any?
    #error_explanation
      %h2
        = pluralize(blog.errors.count, "error")
        prohibited this blog from being saved:
      %ul
        - blog.errors.full_messages.each do |message|
          %li= message
  
  .wrapper
    .field
      = form.label :title
      = form.text_field :title
    .field
      = form.label :body
      = form.text_area :body
    .field
      = form.label :image
      = form.file_field :image
    .actions
      = form.submit


